default: &default
  adapter: mysql2
  pool: 5
  timeout: 5000
  username: <%= ENV['MYSQL_USER'] %>
  password: <%= ENV['MYSQL_PASSWORD'] %>
  host: mysql
  port: <%= ENV['MYSQL_PORT'] %>

development:
  <<: *default
  database: app_development

test:
  <<: *default
  database: app_test

production:
  <<: *default
  database: app_production

