<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RSSNewsBase | RSS Reader</title>
</head>
<body>
  <%= javascript_pack_tag 'rss_news_base' %>
  <%= react_component 'App' %>
</body>
</html>